body{
    /*background: #fff;*/
}
#inicio .personDiv{
    display: none;
}
#titulo .glitch{
    position: relative;
    height: 195px;
}
#titulo{
    width: 90%;
    padding: 0px;
}
#titulo h1, #titulo h1::after, #titulo h1::before{
    width: 200px;
    top: 0px;
    line-height: 60px;
}

.menuSup{
    display: none;
}

.resposiveNavbar{
    width: 100%;
    background: #000;
    height: 100%;
    position: fixed;
    z-index: 9999;
}

.resposiveNavbar ul{
    margin-top: 80px;
}

.resposiveNavbar ul li{
    height: 50px;
    margin-bottom: 5px;
}

.resposiveNavbar ul li a{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.resposiveNavbar ul li a:hover{
    background: #beff00 !important;
    color: #000;
}

/********** NI **************/
#subSobreMi{
    flex-direction: column;
    max-width: none !important;
    min-width: 0px !important;  
    width: 95% !important;  
}

#subSobreMi #container1{
    width: 65% !important;
    left: 0px !important;
}
#subSobreMi #container2{
    width: 100% !important;
}
#subSobreMi #container2 span{
    font-size: 15px;
}
#subSobreMi #container2 p{
    font-size: 13px;
}

/********** CURRICULUM **************/
#curriculum{height: auto;}
#curriculum h2{
    position: relative;
    left: 15%;
    top: 25px;
    font-size: 25px;
}
#curriculum .currContainer{
    width: 90%;
    height: auto;
    padding-top: 0px;
}
#curriculum .item{
    position: relative;
    width: 100%;
    top: 50px;
    left: 0;
    background: #fff;
    border: solid 1px #000;
    padding: 5px;
    height: auto;
    margin-bottom: 5px;
    background-image: none !important;
    color:#000;
}
#curriculum .item:hover{
    transform: scale(1);
    font-size: 15px !important;
}
#curriculum .item:hover ::before{
    background-image: none;
}
#curriculum .item:hover p{
    font-size: 12px;
    opacity: 1;
    animation: none;
}

#curriculum .item div .explanation span{
    color:#000;
}


#currBack{
    display: none;
}
#curriculum #tecnologies{
    margin-top: 50px;
    width: 95%;
    margin-left: 0px;
}

#curriculum #tecnologies h3{
    margin-top: 20px;
    margin-bottom: 0px;
}

#tecnologies li .skillsBar div{transition:none;}
#tecnologies li .skillsBar.skillHtml .html{width: 100% !important;}
#tecnologies li .skillsBar.skillCss .css{width: 90% !important;}
#tecnologies li .skillsBar.skillJavascript .javascript{width: 75% !important;}
#tecnologies li .skillsBar.skillWordpress .wordpress{width: 60% !important;}
#tecnologies li .skillsBar.skillGnu .gnu{width: 70% !important;}
#tecnologies li .skillsBar.skillInkscape .inkscape{width: 85% !important;}
#tecnologies li .skillsBar.skillGimp .gimp{width: 45% !important;}
#tecnologies li .skillsBar.skillJava .java{width: 50% !important;}
#tecnologies li .skillsBar.skillGit .git{width: 50% !important;}
#tecnologies li .skillsBar.skillLiferay .liferay{width: 60% !important;}

#portafolio h2{
    top: 20px;
    left: 150px;
    font-size: 25px;
}

#responsiveContainer{
    display: none;
    width: 100vw;
    left: 0;
    position: absolute;
    height: 100vh;
    top: 0;
    flex-direction: column;
    z-index: 99999;
    background: #fff;
}

#responsiveContainer #closeRespContainer{
    width: 35px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#responsiveContainer .div1, #responsiveContainer .div2{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    text-align: center;
}

#responsiveContainer .div2 p{
    text-align: start;
    margin: 15px 0px 15px 0px;
}

#contact{
    height: auto;
}

#contact h2{
    top: 20px !important;
    left: 150px;
    font-size: 25px;
}

#contact #formContainer{
    width: 90%;
    height: auto;
    min-width: 0px;
    flex-direction: column;
    margin-top: 100px;
    border: none;
    padding-left: 5%;
    padding-right: 5%;
}
#contact #formContainer .formText{
    width: 100%;
    padding: 60px 0 15px 0;
    text-align: center;
}

#contact #formContainer form, #contact #formContainer form input.submit-button, #contact #formContainer .formText{
    width: 100%;
}

#contact form div input,#contact form div textarea{
    padding: 5px 0 5px 0;
}

footer{
    margin-top: 130px;
}