/*****GLOBALES******/
/*******************/
@font-face {
  font-family: titulo;
  /*src: url(fonts/2.otf);*/
  src: url(fonts/VT323-Regular.ttf); }
@font-face {
  font-family: menu;
  src: url(fonts/1.ttf); }
@font-face {
  font-family: cuerpo;
  src: url(fonts/coolvetica.ttf); }
@font-face {
  font-family: cuerpo3;
  src: url(fonts/Courier\ Prime\ Code.ttf); }
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none; }

body {
  /* Background pattern from Toptal Subtle Patterns */
  background: rgba(0, 0, 0, 0) url("images/darkness.png") repeat scroll 0% 0%;
  font-family: 'cuerpo3'; }

html, body {
  height: 100%; }

a {
  text-decoration: none; }

section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

#logo {
  height: 60px;
  width: 60px;
  margin: 20px;
  position: absolute;
  display: none;
  z-index: 999; }

/**** LOADING ****/
#loading img {
  height: 200px;
  width: 400px; }

#loading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #000000;
  z-index: 999; }

/*****HEADER******/
/*****************/
header {
  background: black;
  border-bottom: solid 1px;
  border-bottom-color: greenyellow;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.navbar-brand {
  color: greenyellow;
  font-family: 'titulo';
  font-size: 30px; }

.navbar {
  margin-bottom: 0px !important; }

header nav ul li a {
  color: white;
  font-family: 'menu';
  font-size: 15px;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 2.5px; }

nav a:hover {
  color: greenyellow;
  background: none !important;
  -webkit-transition: color .4s ease-in-out;
  -moz-transition: color .4s ease-in-out;
  -o-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out; }

.active {
  color: greenyellow !important;
  background: none !important; }

ul#nav li.current a {
  color: greenyellow; }

/** movida para menu de movil **/
.toggle,
[id^=drop] {
  display: none; }

/*****CONTENIDO******/
/*****pagInicio******/
#inicio {
  flex-direction: column;
  flex-wrap: nowrap !important;
  justify-content: center; }

#titulo {
  padding: 0 2em 2em 2em;
  width: 45%;
  text-align: center; }

#titulo h1 {
  color: greenyellow;
  font-family: 'titulo';
  display: block;
  font-size: 75px; }

#titulo h2 {
  color: #c7c7c7;
  font-family: 'titulo';
  font-size: 30px;
  display: block;
  margin-bottom: 10px; }

#slide {
  margin-top: 0px;
  height: 50px;
  color: white; }

#titulo img {
  border: none;
  margin-top: 40px;
  top: 0px;
  width: 60px;
  height: 60px;
  position: relative;
  animation: arrow 2s infinite; }

@keyframes arrow {
  0% {
    top: 0px; }
  50% {
    top: 20px; }
  100% {
    top: 0px; } }
/***** MENU ******/
.menuSup {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 0px;
  z-index: 999; }

.menuSup ul {
  width: 500px;
  display: flex; }

.menuSup .menu {
  margin: 0 10px; }

.menuSup ul a {
  color: white;
  font-weight: bold;
  font-size: 18px;
  position: relative; }

.menuSup ul li {
  position: relative; }

.menuSup ul li:hover {
  text-shadow: 1px 1px yellow; }

.menuSup ul li:hover::before {
  content: '';
  position: absolute;
  top: 40%;
  width: 100%;
  height: 15px;
  background: #6046af;
  left: 10px;
  z-index: -1; }

.menuSup #resumepdf {
  padding: 5px;
  font-size: 30px;
  background: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 20px; }

.menuSup #resumepdf a {
  width: 50px;
  height: 50px; }

/*****CONTENIDO******/
/*****pagSobreMi******/
#sobreMi {
  position: relative;
  justify-content: center !important;
  background: white; }

#sobreMi::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(2deg);
  background: white; }

#container1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 15px;
  top: 0px;
  width: 25%;
  max-width: 400px; }

#container1 img {
  width: 200px; }

#container2 {
  height: 100%;
  width: 40%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 50px; }

#container2 span {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.5px; }

.lateral ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  background: red; }

.lateral .menu {
  list-style: none;
  margin: 20px 0 20px 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }

.lateral .menu:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg); }

.lateral .menu a {
  margin: 0 10px; }

.lateral .menu img {
  width: 60px;
  height: 60px; }

/*****CONTENIDO******/
/*****curriculum******/
#curriculum {
  color: white;
  align-items: center;
  justify-content: start;
  background: #ff00ff1a; }

#curriculum .currContainer {
  width: 65%;
  position: relative;
  height: 100%;
  margin-left: 15.25%; }

#curriculum ul {
  width: 85%;
  margin-left: 5%;
  position: relative;
  height: 100%; }

#curriculum li {
  background: green;
  padding: 20px;
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 22px;
  transition: all .2s ease-in-out; }

#curriculum .item div {
  width: 100%; }

#curriculum li:hover {
  transform: scale(1.7);
  font-size: 12px !important; }

#curriculum li:hover p {
  font-size: 9px;
  opacity: 1;
  animation: currTextIn .2s linear; }

#curriculum li p {
  width: 100%;
  font-size: 0px;
  opacity: 0;
  animation: currTextOut .2s linear; }

@keyframes currTextIn {
  0% {
    font-size: 0px;
    opacity: 0; }
  100% {
    font-size: 9px;
    opacity: 1; } }
@keyframes currTextOut {
  0% {
    font-size: 9px;
    opacity: 1; }
  100% {
    font-size: 0px;
    opacity: 0; } }
.item0 {
  top: -10px;
  left: 240px;
  background: transparent !important;
  background-image: url("images/prueba.svg") !important;
  background-repeat: no-repeat !important; }

.item0:hover ::before {
  background-image: url("images/prueba.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
  content: "";
  position: absolute;
  top: 5px;
  left: -5px;
  width: 100%;
  height: 100%;
  z-index: -1; }

.item1 {
  top: 100px;
  left: 30px; }

.item2 {
  top: 300px;
  right: 0px; }

.item3 {
  top: 500px;
  left: 190px; }

/****************************************/
#portafolio {
  background: white;
  justify-content: center;
  display: block;
  padding-top: 60px;
  text-align: center;
  height: auto;
  padding-bottom: 60px; }

#portafolio .work {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  margin: 10px 5px 0 5px;
  vertical-align: top; }

#portafolio .work:hover h2 {
  display: block;
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000b3; }

#portafolio .work h2 {
  display: none; }

#portafolio .work h2 a {
  color: white;
  text-align: center; }

#portafolio .work img {
  width: 100%;
  height: 100%; }

#portafolio .work p {
  display: none; }

#contact form {
  color: white;
  display: flex;
  flex-direction: column; }

/*********************
.work{
    background: grey;
    text-align: center;
    width: 30%;
    border:solid red;
}

img{
    width: 150px;
    height: 150px;
    border: solid;
}

.boton{
    color: black !important;
    background-color: greenyellow;
    border: none;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 2px;
}
.boton:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.work p {height: 120px;}

.work a{color:white;}

*/
@media (max-width: 400px) {
  .pc {
    display: none; }

  .movil {
    display: block;
    margin: 1%;
    color: greenyellow;
    font-family: 'titulo';
    font-size: 30px; }

  [id^=drop]:checked + ul {
    display: block; }

  .toggle + a,
  nav {
    display: none; }

  .toggle {
    display: block;
    margin: 1%;
    color: greenyellow;
    font-family: 'titulo';
    font-size: 30px; }

  [id^=drop]:checked + nav {
    display: block; }

  [id^=drop]:checked + nav ul li {
    border-bottom: solid;
    border-bottom-color: greenyellow; } }
/*****FOOTER******/
footer {
  color: white;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap !important;
  justify-content: center;
  align-items: flex-start; }
  footer div {
    width: 30%;
    min-width: 325px;
    padding: 5px;
    text-align: center; }
  footer #izquierda {
    border-right: dotted;
    border-right-color: white; }
  footer #derecha {
    border-left: dotted;
    border-left-color: white; }

/*# sourceMappingURL=styles.css.map */
