/*****GLOBALES******/
/*******************/
@font-face {
    font-family: titulo;
    /*src: url(fonts/2.otf);*/
    src: url(fonts/VT323-Regular.ttf);
}
@font-face {
    font-family: menu;
    src: url(fonts/1.ttf);
}
@font-face {
    font-family: cuerpo;
    src: url(fonts/coolvetica.ttf);
}
@font-face {
    font-family: cuerpo3;
    src: url(fonts/Courier\ Prime\ Code.ttf);
}
*{margin: 0px;padding: 0px;list-style: none;text-decoration: none;}
body{
    /* Background pattern from Toptal Subtle Patterns */
    background: rgba(0, 0, 0, 0) url("images/darkness.png") repeat scroll 0% 0%;
    font-family: 'cuerpo3';
    background-attachment: fixed;
}

html, body{height:100%;}
a{text-decoration: none;}

section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
#logo{
    height: 60px;
    width: 60px;
    margin: 20px;
    z-index: 99999;
    /*position: absolute;
    display:none;*/
    position: fixed;
}

/**** LOADING ****/
#loading img{
    height:200px;
    width: 400px;
  }
  #loading{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #000000;
    z-index: 999;
  }
/*****HEADER******/
/*****************/
.resposiveNavbar{
    display: none;
}

header{
    background: black;
    border-bottom: solid 1px;
    border-bottom-color: greenyellow;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navbar-brand{
    color:greenyellow;
    font-family: 'titulo';
    font-size: 30px;
}
.navbar{
    margin-bottom: 0px !important;
}

header nav ul li a{
    color: white;
    font-family: 'menu';
    font-size: 15px;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}
nav a:hover{
    color: greenyellow;
    background: none !important;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}
.active{
    color: greenyellow !important;
    background: none !important;
}
ul#nav li.current a{
    color: greenyellow;
}
/** movida para menu de movil **/
.toggle,
[id^=drop] {
	display: none;
}

/*****CONTENIDO******/

h2.titulua{
    position: absolute;
    left: 200px;
    top: 50px;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}

h2.titulua.beltza{
    color: #000000;
}

/*****pagInicio******/
#inicio{
    flex-direction: column;
    flex-wrap: nowrap !important;
    justify-content: center;
}

#inicio .personDiv{
    position: relative;
    top: 60px;
}

#inicio .personDiv .eyesclosed{
    position: absolute;
    top: 44px;
    left: 65px;
    display:none;
}

#titulo{
    padding: 2em;
    width: 45%;
    text-align: center;
}
#titulo .glitch{
    display: block;
    width: 100%;
    height: 80px;
}
#titulo h1{
    color:white;
    font-family: 'titulo';
    display: block;
    font-size: 75px;
    position:absolute;
    z-index: 999;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}
#titulo h1:hover::before, #titulo h1:hover::after{
    margin-left: auto;
    margin-right: auto;
}

#titulo h1::before{
    content: 'Aimar Diaz Perez';
    color: #af03aa;
    position:absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin-left: 3px;
    margin-right: auto;
    width: 550px;
}
#titulo h1::after{
    content: 'Aimar Diaz Perez';
    color: #beff00;
    position:absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: 3px;
    width: 550px;
}

#titulo h2{
    color: #beff00;
    font-family: 'titulo';
    font-size: 25px;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 15px;
}

#slide{
    margin-top: 0px;
    height: 85px;
    color:white
}
.imgLogos{
    height: 26px;
    width: 24px;
    margin: 0px 5px;
}
#slide p{
    margin-bottom: 15px;
}

#titulo #greenArrow{
    border: none;
    top: 0px;
    width: 60px;
    height: 60px;
    position: relative;
    animation: arrow 2s infinite;
}
@keyframes arrow {
    0% {
        top: 0px;
    }
    50%{
        top: 20px;
    }
    100% {
        top: 0px;
    }
}
/***** MENU ******/
.menuSup{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    right: 15px;
    top: 0px;
    z-index: 999;
    /*opacity: 0;
    position: absolute;*/
    position: fixed;
    opacity: 1;
}

.menuSup ul{
    display: flex;
    justify-content: end;
}
.menuSup .menu{
    margin: 0 10px;
}
.menuSup ul a{
    color: white;
    font-weight: bold;
    font-size: 18px;
    position: relative;
}
.menuSup ul li{
    position: relative;
}

.menuSup ul li:hover::after{
    content: attr(data-a);
    color: #beff00;
    transform: rotate(20deg);
}

.menuSup ul .menu:hover::before, .menuSup ul .menu.menuActive::before{
    content: '';
    position: absolute;
    top: 40%;
    width: 100%;
    height: 15px;
    background: #af03aa;
    left: 10px;
    z-index: -1;
}

.menuSup ul .menu.fondoBlanco:hover::before, .menuSup ul .menu.menuActive.fondoBlanco::before{
    background: #beff00;
}

.menuSup #resumepdf{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 20px;
}
.menuSup #resumepdf a{
    width: 30px;
    height: 40px;
    position: relative;
    transition: all 1s ease-in-out;
    -webkit-transition:all 1s ease-in-out;
}
.menuSup #resumepdf a img{
    width: 35px;
    height: 35px;
}
.menuSup #resumepdf a:hover::before{
    content: "";
    position: absolute;
    background: url("images/arrowPurple.svg") no-repeat center;
    width: 35px;
    height: 35px;
    transform: rotate(30deg);
    top: 3px;
    z-index: -1;
    left: 10px;
}
.menuSup #resumepdf a:hover::after{
    content: "";
    position: absolute;
    background: url("images/arrowGreen.svg") no-repeat center;
    width: 35px;
    height: 35px;
    transform: rotate(15deg);
    top: 0px;
    z-index: -1;
    left: 5px;
}

/*****CONTENIDO******/
/*****pagSobreMi******/
#sobreMi{
    background: #00000080;
    color: white;
}
#sobreMi #subSobreMi{
    width: 65%;
    height: 70%;
    max-width: 900px;
    min-width: 600px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#container1{
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 15px;
    top: 0px;
    width: 45%;
    max-width: 400px;
    position: relative;
}

#container1 img{
    width: 100%;
}

#sobreMi #subSobreMi #container1::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotate(1deg);
    border: solid 2px #af03aa;
    top: -2%;
    left: -2%;
}
#sobreMi #subSobreMi #container1::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-2deg);
    border: solid 4px #beff00;
    transition: all 1s ease-in-out;
    -webkit-transition:all 1s ease-in-out;
}

#container2{
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#container2 span{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    background: black;
    padding: 10px;
}
#container2 p{
    background: black;
    padding: 10px;
}
/*****CONTENIDO******/
/*****curriculum******/
#curriculum{
    color: white;
    align-items: center;
    justify-content: center;
    background: #ff00ff1a;
    height: 1010px;
}
#curriculum .currContainer{
    width: 600px;
    position: relative;
    height: 100%;
    padding-top: 60px;
}

#curriculum ul{
    width: 100%;
    position: relative;
    height: 100%;
}
#curriculum .item{
    padding: 20px;
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 15px;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    transition: all .2s ease-in-out;
}

#curriculum .item div{
    width: 100%;
}

#curriculum .item div .explanation{
    color: #000;
    font-weight: bold;
}

#curriculum .item div .explanation span{
    color: #fff;
}

#curriculum .item:hover{
    transform: scale(1.7);
    font-size: 10px !important;
}

#curriculum .item:hover ::before{
    opacity: 0.3;
    content: "";
    position: absolute;
    top: 5px;
    left: -5px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
#curriculum .item:hover p{
    font-size: 9px;
    opacity: 1;
    animation: currTextIn .2s linear;
}

#curriculum .item p{
    width: 100%;
    font-size: 0px;
    opacity: 0;
    animation: currTextOut .2s linear;
}

@keyframes currTextIn {
    0% {
        font-size: 0px;
        opacity: 0;
    }
    100% {
        font-size: 9px;
        opacity: 1;
    }
}
@keyframes currTextOut {
    0% {
        font-size: 9px;
        opacity: 1;
    }
    100% {
        font-size: 0px;
        opacity: 0;
    }
}

.item0{top: 60px;left: 35%;background-image: url("images/item0.svg") !important;}
.item0:hover ::before{background-image: url("images/item0.svg");}

.item1{top: 200px;left: 0px;background-image: url("images/item1.svg") !important;}
.item1:hover ::before{background-image: url("images/item1.svg");}

.item2{top: 355px;left: 65%;background-image: url("images/item2.svg") !important;}
.item2:hover ::before{background-image: url("images/item2.svg");}

.item3{top: 500px;left: -35px;background-image: url("images/item3.svg") !important;}
.item3:hover ::before{background-image: url("images/item3.svg");}

.item4{top: 600px;left: 60%;background-image: url("images/item4.svg") !important;}
.item4:hover ::before{background-image: url("images/item4.svg");}

.item5{top: 760px;left: 15%;background-image: url("images/item5.svg") !important;}
.item5:hover ::before{background-image: url("images/item5.svg");}

#currBack{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1 ;
    background-image: url("images/currBack.svg");
    background-repeat: no-repeat !important;
    background-position: center;
}
#curriculum #tecnologies{
    width: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 25px;
}
#tecnologies h3{
    margin-bottom: 20px;
    font-size: 25px;
}
#tecnologies li{
    margin: 10px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#tecnologies li .skillsBar{
    width: 60%;
    background: none;
    border: solid 1px white;
    margin-left: 20px;
    height: 20px;
}

#tecnologies li .skillsBar div{
    height: 100%;
    background: #beff00;
}

#tecnologies li .skillsBar div{width: 0%;transition:0s 180s;}

#tecnologies li .skillsBar.skillHtml:hover > .html{width: 95%;transition:0s;}
#tecnologies li .skillsBar.skillCss:hover > .css{width: 90%;transition:0s;}
#tecnologies li .skillsBar.skillJavascript:hover > .javascript{width: 70%;transition:0s;}
#tecnologies li .skillsBar.skillWordpress:hover > .wordpress{width: 70%;transition:0s;}
#tecnologies li .skillsBar.skillGnu:hover > .gnu{width: 75%;transition:0s;}
#tecnologies li .skillsBar.skillInkscape:hover > .inkscape{width: 85%;transition:0s;}
#tecnologies li .skillsBar.skillGimp:hover > .gimp{width: 65%;transition:0s;}
#tecnologies li .skillsBar.skillJava:hover > .java{width: 50%;transition:0s;}
#tecnologies li .skillsBar.skillGit:hover > .git{width: 55%;transition:0s;}
#tecnologies li .skillsBar.skillLiferay:hover > .liferay{width: 50%;transition:0s;}

/****************************************/
#portafolio{
    background: white;
    justify-content: center;
    display: flex;
    padding-top: 100px;
    text-align: center;
    height: auto;
    padding-bottom: 60px;
}

#portafolio .portafolioContainer{
    max-width: 1000px;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

@media only screen and (min-width: 900px) and (max-width: 1300px){
    #portafolio .portafolioContainer{
        width: 800px;
    }
}
@media only screen and (min-width: 700px) and (max-width: 900px){
    #portafolio .portafolioContainer{
        width: 600px;
    }
}
@media only screen and (min-width: 450px) and (max-width: 700px){
    #portafolio .portafolioContainer{
        width: 400px;
    }
}
@media only screen and (max-width: 450px){
    #portafolio .portafolioContainer{
        width: 200px;
    }
}
#portafolio .work{
    width: 200px;
    height: 200px;
    position: relative;
    /*cursor: pointer;*/
    overflow: visible !important;
}


#portafolio .work .arrow{
    width: 15px;
    height: 7px;
    background-image: url("images/miniArrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 200px;
    z-index: 1;
    left: 85px;
    display: none;
}

#portafolio .work:hover .title{
    display: block;
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000000dd;
    color: white;
    cursor: pointer;
}

#portafolio .work .title{
    display: none;
}
#portafolio .work .title h2{
    width: 180px;
    font-size: 20px;
}

#portafolio .work .title img{
    width: 40px;
}

#portafolio .work .minImg{
    width: 200px;
    height: 200px;
}
#portafolio .work .workDescription{
    height: 0px;
    overflow: hidden;
    position: absolute;
    background: #af03aa;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

#portafolio .work .workDescription .div1{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#portafolio .work .workDescription .div1 img{
    width: 90%;
}
#portafolio .work .workDescription .div2{
    width: 70%;
    height: 100%;
}
#portafolio .work .workDescription .div2 h2{
    padding: 24px 20px;
    text-align: start;
    font-size: 35px;
}
#portafolio .work .workDescription .div2 p{
    padding: 0px 24px 20px;
    text-align: start;
}
#portafolio .work .workDescription .div2 a{
    color:#fff;
    float: left;
    margin-left: 24px;
}

/********************************************************/
#contact .titulua{
    top:15%;
}
#contact #formContainer{
    width: 65%;
    height: 70%;
    max-width: 900px;
    min-width: 600px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100px;
    border: solid 1px white;
    border-radius: 2px;
    padding: 0px 35px 5px 30px;
}

#contact .formText{
    /*width: 50%;*/
    height: 85%;
}

#contact .formText p,#contact .formText h3 {
    color: white;
}

#contact .formText h3 {
    text-transform: uppercase;
    margin-bottom: 15px;
}

#contact form{
    color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 85%;
}
#contact form div{
    margin-bottom: 20px;
}
#contact form div label{
    display: block;
}
#contact form div label.textareaLabel{
    margin-bottom: -20px;
}
#contact form div input{
    width: 100%;
    display: block;
    border: none;
    height: 25px;
    padding: 5px;
}
#contact form div textarea{
    width: 100%;
    border: none;
    resize: none;
    padding: 5px;
}
#contact form div input.submit-button{
    width: 50%;
    height: 35px;
    background: #beff00;
    color: #af03aa;
    font-size: 15px;
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'cuerpo3';
    cursor: pointer;
}
#contact form div input.submit-button:hover{
    background: #af03aa;
    color: #beff00;
}

/*****FOOTER******/
footer{
    color:white;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap !important;
    justify-content: center;
    align-items: flex-start;
}
footer div{
    min-width: 325px;
    padding: 5px;
    text-align: center;
}
#izquierda{
    border-right: dotted;
    border-right-color: white;
}
#derecha{
    border-left: dotted;
    border-left-color: white;
}

#responsiveContainer{
    display: none;
}
